/*Import link for the Josefin Slab font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

/*Import link for the Sacramento font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html{
    overflow-x: hidden; /*Prevents horizontal scrolling on the webpage*/
    scroll-behavior: smooth; /*Enables smooth scrolling when navigating to different sections of the webpage*/
}

/*NAVBAR*/
.nav-bar{
    position: sticky; /*Creates a sticky navigation bar that stays in the same spot on the browser screen*/
    top: 0; /*Tells the browser to stick the element at the top of the page based on user scrolling*/
    z-index: 9; /*Sets the stacking order of the navigation bar to ensure it appears above other elements*/
}

ul{
    display: flex; /*Creates a flex container which will expand or shrink elements to fill the space available to them and place the elements side by side horizontally*/
    list-style-type: none; /*Removes the default bullet points from the list items*/
    align-items: center;
    margin: -8px -8px 0px -8px; /*Margin order is top right bottom left*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

a{
    display: block;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

/*Only-of-type effects the only child element nexted within an element. This will keep the background color blue while hovering and the text white when me move the mouse over anchor elemnents in the rollover-menu div*/
a:hover, .drop:hover a:only-of-type{
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    transition: background-color 0.3s ease-in;
}

.rollover-menu{
    display: none; /*Prevents the anchor links from appearing unless otherwise specified*/
    position: absolute; /*Positions the div element relative to the position of the parent element*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Creates a trigger effect when the user hovers their mouse over the recipes link. The trigger will display all elements within the rollover-menu class div element*/
.drop:hover .rollover-menu{
    display: block; 
}

.rollover-menu a{
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover{
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

.rollover-menu a:nth-child(1){
    border-top: 5px solid rgb(238, 118, 136);
}

/*FOOTER*/
footer{
    align-items: center;
    margin: 0 -8px -8px -8px; /*Margin order is top right bottom left*/
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0; /*Positions the footer at the bottom of the page*/
}

table{
    width: 100%; /*Will take up the full width of the browser screen*/
}

td{
    width: 33%;
}

td p{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}

/*BODY*/

.container{
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

/*HEADERS*/
h1{
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    color: rgb(0, 80, 67);
    text-align: center;
}

h2, h3, h4{
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

h2{
    color: rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h3{
    font-size: 30px;
}

h4{
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/*PARAGRAPHS*/
p{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    text-align: center;
}

/*IMAGES*/

/*Positions elements side by side on the screen*/
.column{
    float: left;
    width: 48%;
    padding: 10px;
}

/*Styling for screens 120px or smaller*/
@media screen and (max-width: 1200px){
    .column{
        width: 100%;
        padding: 0%;
        margin-left: -15px;  /*Centers each column on the screen*/
    }
}

/*Specifically styles the first 7 img elements within the column class*/
.column img:nth-child(-n + 7){
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-container{
    width: 500px;
    height: 350px;
    margin: 100px auto 180px; /*Shorthand value: top, right & left, bottom*/
    perspective: 1000px; /*Tells the browser how much 3d space an element should take up on the screen*/
}

/*Styling for mobile size screens*/
@media screen and (max-width: 600px){
.column img:nth-child(-n + 7){
        width: 350px;
        height: 225px;
    }

.recipe-container{
        width: 350px;
        height: 225px;
    }
}

.recipe-card-background{
    background-color: rgb(149, 238, 223);
}

/*Alternates the blue tile background on smaller screen sizes*/
@media screen and (max-width: 1200px){
    #pork{
        background-color: rgb(255, 255, 255);
    }
    #biscuits{
        background-color: rgb(149, 238, 223);
    }
}

/*FEATURED RECIPE*/

/*Styles the featured recipe h3 tag*/
#featured-header{
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    color: rgb(0, 80, 67);
}

#featured-main-text{
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

/*Adjusts the margin on smaller screen sizes when it is not needed*/
@media screen and (max-width: 1200px){
    #featured-main-text{
        margin-left: 0;
    }
}


/*Specifically styles the img tag nested within the #featured div in the featured recipe section*/
@media screen and (min-width: 1600px){
    #featured img{
        width: 700px;
        height: auto; /*Calculates image height based on width*/
        margin-left: -100px;
        margin-top: -20px;
    }    
}

/*Centers the featured img in its div when the screen width is 1599px or smaller*/
@media screen and (max-width: 1599px){
    #featured img{
        margin-left: 0px;
        margin-top: 40px;
    }    
}

@media screen and (max-width: 600px){
    #featured .recipe-card-background{
        height: 300px;
    }
    #featured img{
        margin-top: -65px;
    }   
}

#featured-button{
    display: block; /*Positions the recipe button on its own line from other elements in the div*/
    margin: 60px auto 0px; /*Shorthand value: top, right & left, bottom*/
    background-color: rgb(1, 128, 106);
    border-radius: 35px;
    border: none; /*Removes the default border from the button*/
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

/*Specifically styles the hover effect of the recipe button in the featured section*/
#featured-button:hover{
    background-color: rgb(247, 177, 188);
}

/*IMAGE FLIP*/

/*Positions the flip effect, defines transition time, and defines a 3d effect*/
.flip{
    position: relative;
    width: 100%;
    height: 100%; /*Ensures the flip effect makes use of its entire container*/
    text-align: center;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d; /*Treats elements as 3d objects instead of flat, 2d elements*/
}

.flip:hover{
    transform: rotateY(-180deg); /*Rotates element from right to left*/
}

.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /*Hides the back side of the element when it is not facing the user*/
}

.flip-back{
    background-color: rgb(149, 238, 223);
    border: 2px solid white;
    transform: rotateY(180deg); /*Rotates the back side of the element 180 degrees so it is able to be properly read*/
}

.text-container{
    padding-top: 70px;
}

@media screen and (max-width: 600px){
    .text-container{
        padding-top: 0px;
    }
}

/*RECIPE BUTTON*/

input[type="button"]{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 22px;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: rgb(247, 177, 188);
    color: white;
}

/*CONTACT FORM CSS*/

/*Sets up content within the div tag containing the ID contact to be centered on the webpage*/
#contact{
    display: block;
    margin-bottom: 70px;
}

form{
    display: table; /*Displays the form in a table format as rows and columns*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto; /*The browser will automatically calculate margins to center the form on the screen*/
}

/*Specifcally targets the input tags within the form*/
form input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3s ease-out; /*Transitions back to light gray color when input loses focus*/
}

form input:focus{
    border: 2px solid rgb(1, 128, 106);
    color: black;
    outline: none; /*Removes the default border added when the focus pseudo-class is triggered*/
    transition: 0.3s ease-out;
}

label{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both; /*Allows the user to resize the textarea both horizontally and vertically*/
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    transition: 0.3s ease-out; /*Transition back to light gray*/
}

textarea:focus{
    color: black;
    border: 3px solid rgb(1, 128, 106); 
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"]{
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right; /*Positions the submit button to the right side of the form*/
}

input[type="submit"]:hover{
    background-color: rgb(247, 177, 188);
}