/*Site Wide Styling*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

/*Contact Form Styling*/
form{
    display: table;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

form input{
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
}